.section__contact {
    padding: 64px 0 87px;
    .tit {
        font-weight: 700;
        font-size: 36px;
        line-height: 53px;
        color: #0a2c36;
    }
    .desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #212529;
    }
    .line {
        border: 1px solid #0a2c36;
        width: 100%;
    }
    .box-info {
        > * {
            margin-bottom: 16px;
        }
    }
    .list {
        padding-top: 16px;
        .content {
            color: #0a2c36;
        }
    }
    .rs-row {
        margin: 0;
        .col {
            padding: 0;
        }
    }
    .col-right {
        max-width: calc(100% - 526px);
        flex-basis: calc(100% - 526px);
        width: 100%;
        margin-left: 48px;
    }
    .col-left {
        flex: 1;
    }
    .form-submit {
        width: 382px;
        height: 57px;

        background: #e5bd89;
        border-radius: 1000px;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #0a2c36;
        padding: 0;
    }
    .form-group {
        display: flex;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    .form-input {
        width: 100%;
        border: 1px solid #939ca3;
        border-radius: 12px;
        height: 64px;
        padding: 16px 10px 20px;

        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: justify;
        color: #4f4f4f;
    }
    .form-textarea {
        width: 650px;
        height: 182px;

        border: 1px solid #939ca3;
        border-radius: 12px;
        padding: 8px 10px;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: justify;
        color: #4f4f4f;
        outline: none;
    }
    .require {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: justify;
        color: #4f4f4f;
        margin-bottom: 16px;
    }
    .submit-form{
        text-align: center;
    }
}
