@mixin bg($url, $size: cover) {
    background: url(../images/home/banner1.webp) no-repeat center;
    background-size: $size;
}
.section-banner {
    position: relative;
    .swiper-slide {
        padding: 180px 0 141px;
    }
    .slide1 {
        @include bg("../images/home/banner1.webp");
    }
    .slide2 {
        @include bg("../images/home/banner2.webp");
    }
    .slide3 {
        @include bg("../images/home/banner3.webp");
    }
    .slide4 {
        @include bg("../images/home/banner4.webp");
    }
}
.carousel{
    &-next{
        right: calc(914px / 2 - 262px);
    }
    &-prev{

    }
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    &-wrap {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1000px;
        width: auto !important;
        margin: auto;
        padding: 0 24px;
    }
    .swiper-pagination {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        &-bullet {
            width: 24px;
            height: 24px;
            opacity: 1;
            background: $white;
            &:not(:last-child){
                margin-right: 32px;
            }
            &-active{
                background: linear-gradient(90deg, #072D94 0%, #54228D 14.29%, #790D80 28.57%, #940071 42.86%, #A7005F 57.14%, #B4004C 71.43%, #BB1239 85.71%, #BC3026 100%), #FFFFFF;
            }
        }
    }
}
