@mixin bg($url, $size: cover) {
    background: url(../images/home/banner1.webp) no-repeat center;
    background-size: $size;
}
.section-page{
    &:not(.section-banner){
        padding: 24px 0;
    }
}
.section-banner {
    position: relative;
    .swiper-slide {
        padding: 180px 0 141px;
    }
    .slide1 {
        @include bg("../images/home/banner1.webp");
    }
    .slide2 {
        @include bg("../images/home/banner2.webp");
    }
    .slide3 {
        @include bg("../images/home/banner3.webp");
    }
    .slide4 {
        @include bg("../images/home/banner4.webp");
    }
}
.carousel {
    &-next {
        right: calc(914px / 2 - 262px);
    }
    &-prev {
    }
}
.section-tit {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $gray-800;
}
.line-normal {
    display: block;
    background: linear-gradient(90deg, #072d94 0%, #54228d 14.29%, #790d80 28.57%, #940071 42.86%, #a7005f 57.14%, #b4004c 71.43%, #bb1239 85.71%, #bc3026 100%);
    border-radius: 1000px;
    width: 120px;
    height: 4px;
}
.block-para {
    .timer {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #939ca3;
    }
}
.para {
    &-head {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
    }
    &-tit {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    &-normal {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    &-wrap {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1000px;
        width: auto !important;
        margin: auto;
        padding: 0 24px;
    }
    .swiper-pagination {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        &-bullet {
            width: 24px;
            height: 24px;
            opacity: 1;
            background: $white;
            &:not(:last-child) {
                margin-right: 32px;
            }
            &-active {
                background: linear-gradient(90deg, #072d94 0%, #54228d 14.29%, #790d80 28.57%, #940071 42.86%, #a7005f 57.14%, #b4004c 71.43%, #bb1239 85.71%, #bc3026 100%),
                    #ffffff;
            }
        }
    }
}
.section-introduce {
    padding: 72px 0 24px;
    .row {
        margin: 0;
    }
    .rs-col {
        &-left {
            max-width: 500px;
            width: 100%;
            padding: 0;
        }
        &-right {
            flex: 1;
            padding-left: 24px;
            padding: 44px 0 0 24px;
        }
    }
    .para {
        &-head {
            color: #333333;
        }
        &-normal {
            color: #4f4f4f;
            margin-bottom: 65px;
        }
    }
    .line-normal {
        margin: 16px auto;
    }
}

.block-btn {
    .btn {
        width: 176px;
        height: 40px;
        border: 1px solid #828282;
        border-radius: 4px;
        span {
            color: #4f4f4f;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
        }
        &-ic {
            margin-left: 10px;
            font-style: 14px;
        }
    }
}
.section-coffee {
    .row{
        margin: 0;
    }
    .rs-col{
        padding: 0;
        &-left{
            flex: 1;
            padding-right: 10px;
        }
        &-right{
            max-width: 767px;
            width: 100%;
            flex: 1 767px;
            margin-left: 24px;
        }
    }
    .block-line {
        margin: 32px 0;
    }
    .para {
        &-tit {
            color: #32373d;
            margin-bottom: 12px;
        }
        &-normal {
            color: #444b52;
        }
    }
    .timer {
        margin-top: 8px;
    }
    .block-btn{
        margin-top: 60px;
    }
}
.section-gallery{
    .section-tit{
        margin-bottom: 32px;
    }
    .gallery{
        &-list{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-item{
            margin-top: 32px;
        }
    }
}
