.news-page {
    background: #EAEAEA;
    .rs-card {
        border-radius: 6px;
        box-shadow: none;
        padding: 16px;
        .card-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #444B52;
            margin-bottom: 24px;
            @media (max-width: 992px) {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 8px;
            }
        }
        .card-btn {
            text-align: center;
            .btn {
                border: 1px solid #CBD1D6;
                border-radius: 6px;
                padding: 9px 16px;
                @media (max-width: 992px) {
                    border-radius: 100px;
                    padding: 6px 14px;
                }
            }
            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                color: #444B52;
                @media (max-width: 992px) {
                    font-size: 14px;
                }
            }
            i {
                font-size: 16px;
                margin-left: 4px;
                color: #939CA3;
                @media (max-width: 992px) {
                    font-size: 14px;
                }
            }
            @media(max-width: 992px) {
                margin-top: 4px;
            }
        }
        @media(max-width: 992px) {
            padding: 16px 10px;
        }
    }
    .list {
        &__item {
            display: flex;
            padding-bottom: 24px;
            &-img {
                max-width: 276px;
                margin-right: 16px;
                cursor: pointer;
                img {
                    border-radius: 6px;
                }
                @media(max-width: 992px) {
                    max-width: 126px;
                    margin-right: 12px;
                }
            }
            &-desc {
                flex: 1;
                .tit {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #32373D;
                    margin-bottom: 4px;
                    cursor: pointer;
                    @media(max-width: 992px) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .desc {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #444B52;
                    margin-bottom: 4px;
                    @media(max-width: 992px) {
                        display: none;
                    }
                }
                .time {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6A737A;
                    @media(max-width: 992px) {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
            @media(max-width: 992px) {
                padding-bottom: 16px;
                
            }
        }
    }
    .recommand {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #32373D;
            margin-bottom: 8px;
        }
        .list__news {
            &-item {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
                img {
                    cursor: pointer;
                    border-radius: 6px;
                }
                .tit {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: #32373D;
                    margin-top: 8px;
                    cursor: pointer;
                }
                .desc {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #32373D;
                    margin-top: 8px;
                }
            }
        }
        @media(max-width: 992px) {
            display: none;
        }
    }
    .line {
        background: #D8E0E8;
        height: 1px;
        width: 100%;
        margin-top: -16px;
        display: none;
        @media(max-width: 992px) {
            display: block;
        }
    }
    @media(max-width: 992px) {
        .rs-col {
            padding: 0;
        }
    }
}