.service {
    .section__banner {
        background: #e5bd89;
        .card {
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 0 1px #fff;
            border-radius: 24px;
            padding: 48px 45px 48px 48px;
            color: #0a2c36;
            .title {
                font-weight: 700;
                font-size: 64px;
                line-height: 100%;
                margin-bottom: 32px;
                &-para {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 100%;
                    margin-bottom: 12px;
                }
            }
            .desc {
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
            }
        }
        .rs-row{
            align-items: center;
        }
        .row{
            margin: 0;
            .col{
                padding: 0;
            }
        }
        .col-left{
            flex: 1;
        }
        .col-right{
            max-width: calc(100% - 567.2px);
            width: 100%;
            margin-left: 32px;
        }
        .swiper-button-next{
            right: -20px;
        }
        .swiper-button-prev{
            left: 20px;
        }
    }
.section__service{
    .section-box{
        border: none;
        box-shadow: 0 0 0 1px #0A2C36;;
        .card-content{
            background: #FEE7CA;
            padding-bottom: 24px;
        }
        .row{
            margin: 0;
            margin: 0 -21px;
            margin-bottom: -104px;
        }
        .col-4{
            margin-bottom: 104px;
            padding: 0 21px;
        }
    }
}
}
