$bg-header: #ee4a91;
.header {
    background-color: $bg-header;
    padding: 16px 0;
    position: sticky;
    top: -1px;
    z-index: 100;
    .rs-row {
        align-items: center;
    }
    .logo {
        display: block;
        max-width: 152px;
    }
    .menu-mb-ic{
        display: none;
    }
    @include respond-to("md") {
        padding: 8px 10px;
        .container{
            padding: 0;
        }
        .logo {
            max-width: 92px;
        }
        .hotline-mb {
            border: none;
            display: block;
            text-align: left;
            padding: 0;
            .name-mb {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #000000;
            }
            i {
                display: none;
            }
        }
        .nav-mb-inner {
            text-align: right;
            .nav-list {
                justify-content: flex-end;
            }
        }
        .menu-mb{
            display: flex;
            align-items: center;
            &-ic{
                font-size: 18px;
                line-height: 1;
                margin-right: 16px;
            }
        }
        .row{
            margin: 0;
            .col-rs{
                padding: 0;
            }
        }
    }
}
.nav-mb {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.6s;
    transform: translateX(-100%);
    height: 100%;
    width: 100%;
    &.open {
        transform: translateX(0);
        .nav-mask {
            opacity: 1;
            visibility: visible;
        }
    }
    &-wrap {
        max-width: 340px;
        width: 100%;
        height: inherit;
        position: relative;
    }
    &-logo {
        picture {
            max-width: 92px;
        }
    }
    &-head {
        background: #ee4a91;
        padding: 8px 10px;
    }
    &-body {
        background: #ffffff;
        padding-bottom: 116px;
        .nav-list {
            display: block;
        }
        .nav-item {
            display: block !important;

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #334155;
                padding: 14px 24px;
                display: block;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #e4eaf1;
                margin-right: 0;
            }
        }
        a.nav-active {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-transform: uppercase;
            color: #072d94;
            background: transparent;
        }
    }
    &-icon {
        position: absolute;
        right: 10px;
        top: 14px;
        * {
            font-size: 24px;
            line-height: 1;
            color: $white;
        }
    }
    &-foot {
        height: 100%;
        background: #edf2f8;

        padding: 16px 24px 0;
        .hotline {
            display: flex;
            align-items: center;
            .number {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                color: #333333;
            }
            .name {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #072d94;
                margin-top: 2px;
            }
            &-ic {
                width: 36px;
                height: 36px;
                margin-right: 8px;
                i {
                    color: #1d48ba;
                    font-size: 36px;
                }
            }
            &-info {
                flex: 1;
                span {
                    display: block;
                }
            }
        }
    }
    .nav-mask {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
    }
}
.disable-scroll {
    overflow: hidden;
}
