$bg-header: #EE4A91;
.header{
    background-color: $bg-header;
    padding: 16px 0;
    .rs-row{
        align-items: center;
    }
    .logo{
        display: block;
        max-width: 152px;
    }
}