.header{
    background: #0A2C36;
    padding-bottom: 24px;
    &__inner{
        > .row{
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }
        .col-auto{
            padding: 0;
        }
    }
    &__logo{
        a{
            display: block;
            max-width: 126px;
        }
    }
}
.nav{
    display: flex;
    align-items: center;
    gap: 16px;
    &__item{
        &-link{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .nav-text{
            color: #FDFDFD;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
        }
        &.active{
            background: #E5BD89;
            border-radius: 4px;
            .nav-text{
                color: #0A2C36;
                font-weight: 700;
            }
        }

    }
}