.nav {
    &-list {
        display: flex;
        align-items: center;
    }
    &-item {
        &:not(:last-child){
            margin-right: 16px;
        }
        @include respond-to('md'){
            &:not(:last-child){
                display: none;
            }
        }
    }
    &-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 4px;
        @extend .f-w-400;
        color: $white;
        font-size: 16px;
        line-height: 100%;
        @media(min-width: 992px){
            &:hover{
                background-color: $black;
            }
        }
    }
    .hotline{
        border-radius: 6px;
        span{
            font-size: 16px;
            line-height: 19px;
            color: $black;
            font-weight: 700;

        }
        @media(min-width: 992px){
            &:hover{
                border: 1px solid $black;
            }
        }
    }
    &-active{
        background: $black;
        font-weight: 700;
    }
}
.btn-black{
    @media(min-width: 992px){
        &:hover{
            background-color: $black-70;
            color: $white;
            span{
                color: inherit;
            }
        }
    }
}